.content{
    height: 100%;
}

section.register{
    padding: 0 2%;
    background: var(--primary_001);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register form{
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 60px;
    height: 499px;
}

.register form input{
     outline: none;
}

.register form input[type=text]{
    padding: 5px 10px;
}

.register form input[type=submit]{
    align-self: baseline;
}

.register form input[type=submit]:hover{
    border: 1px solid var(--gray);
}