.content{
    height: 100%;
}

section.table{
    padding: 25px;
    min-height: 100%;
    background: var(--primary_001);
    overflow-x: auto;
}

section.table table{
    background: #fff;
    border-collapse: collapse;
    width: 100%;
}

section.table table th{
    background: var(--gray);
}

section.table table th, section.table table td{
    padding: 5px 15px;
    text-align: center;
}

section.table table td button{
    cursor: pointer;
    background: #fff;
}

