.update{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.form-update{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background: var(--primary);
    padding: 50px 40px;
}

.form-update input:not(input[type=submit]), .form-update select{
    width: 100%;
}

.close-update{
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--primary);
    cursor: pointer;
}