.update{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.form-update{
    position: relative;
    background: var(--primary);
    padding: 50px 40px;
    height: 300px;
    width: 300px;
    overflow-y: auto;
}

.form-update label{
    color: #fff;
}

.form-update input:not(:last-of-type), .form-update select{
    margin-bottom: 15px;
}

.form-update input:not(input[type=submit]), .form-update select{
    margin-top: 15px;
    width: 100%;
}

.form-update {
    scrollbar-width: thin;
    scrollbar-color: #454045 #000000;
}

.form-update::-webkit-scrollbar {
    width: 10px;
}

.form-update::-webkit-scrollbar-track {
    background: #000000;
}

.form-update::-webkit-scrollbar-thumb {
    background-color: #454045;
    border-radius: 10px;
    border: 6px solid #ffffff;
}

.close-update{
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--primary);
    cursor: pointer;
}